p {
 color: blue;
 font-style: italic;
}

body {
  background-image: url("pexels-photo-850796.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 75%
}

h2 {
 font-size: 35px;
 font-weight: bold;
 font-style: Helvetica;
}

h3 {
 font-size: 25px;
}

li {
 list-style: square;
}
